.beforeFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: no-repeat url('../../images/bg-boost-desktop.svg');
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    min-height: 300px;
}

.beforeFooter h2 {
    color: white;
}