.advancedStatistics {
  background-color: hsl(230, 25%, 95%);
  padding: 50px 0;
  text-align: center;
}

.advancedStatistics > p {
  color: hsl(250, 3%, 64%);
  padding: 0 20px;
}

.horizontal-line {
  display: none;
}

@media screen and (min-width: 800px) {
  .as-title > p {
    max-width: 35%;
    margin: auto;
  }
}

@media screen and (min-width: 1080px) {
  .featurecards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 60px);
    justify-items: center;
  }
  .horizontal-line {
    width: 100%;
    height: 8px;
    background-color: hsl(180, 66%, 49%);
    display: block;
    justify-self: center;
    align-self: center;
    grid-row: 4 / span 2;
  }
  .horizontal1 {
    grid-column: 2 / span 2;
  }

  .horizontal2 {
    grid-column: 4 / span 2;
  }

  #feature1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 5;
  }

  #feature2 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 5;
  }

  #feature3 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 5;
  }
}
